*{
    padding: 0;
    margin: 0;
}
.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}
.container{
    max-width: 995px;
    border:2px solid black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: scroll;
    margin-bottom: 23px;
}
.message{
    background-color: rgb(190, 186, 186);
    width: 21%;
    padding: 15px;
    margin: 15px 12px;
    border: 2px solid black;
    border-radius: 10px;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}
body{
    height: 100vh;
    background-image: linear-gradient(white,rgb(15, 161, 187));
}
#messageInt{
    width: 93%;
    border: 2px solid black;
    height: 37px;
    border-radius: 6px;
}
.btn{
    cursor: pointer;
    width: 6%;
    height: 38px;
    border: 2px solid black;
    border-radius: 9px;
}
